* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.7em;
  font-family: verdana;
}

a {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

.container {
  margin: auto;
  max-width: 1000px;
  padding: 0 20px;
  overflow: auto;
}

.nav-bar {
  background-color: #333;
  color: white;
  overflow: auto;
}

.logo {
  float: left;
}

.nav-bar ul {
  float: right;
}

.nav-bar ul li {
  list-style: none;
  float: left;
  padding: 0 5px;
}

.nav-bar ul li a {
  display: block;
  padding: 20px;
  text-align: center;

}

.nav-bar h1 {
  padding-top: 20px;
  font-size: 24px;
}

.nav-bar ul li a:hover {
  background-color: #444;
  color: #f7c08a;
}

.nav-bar ul li .current {
  background-color: #444;
  color: #f7c08a;
}

#section {
  background: url('./image_resources/showcase.jpg') no-repeat center center/cover;
  height: 600px;
}



#section .content {
  padding-top: 200px;
  color: white;
  text-align: center;
}

#section .content h1 {
  font-size: 50px;
}

span {
  color: #f7c08a;
}

#section .content a {
  background-color: #333;
  padding: 15px;
}

#section .content a:hover {
  background-color: #f7c08a;
  color: #333;
  padding: 15px;
}

#section .content p,
#section .content h1 {
  margin-bottom: 50px;
}

.section img {
  float: left;
  display: block;
  width: 50%;
  min-height: 100%;
}

.section .img-content {
  float: right;
  width: 50%;
  height: 500px;
  text-align: center;
  padding: 30px;
  background-color: #444;
}

.section .img-content p,
h2 {
  color: white;
}
#box-2{
  background-color: #f7c08a;
}
.clr{
  clear: both;
}
.box{
  align-items: center;
 float: left;
 width: 33%;
 text-align: center;
 padding: 40px;
}
footer p{
  text-align: center;
  padding: 30px;
  margin: 0%;
  color: aliceblue;
  background-color: #444;
}
.btn{
  background-color: #333;
  padding: 15px;
  display: inline-block;
  margin-top: 20px;
}
.btn:hover{
  
    background-color: #f7c08a;
    color: #333;
}
.info{
  height: 400px;
}
.img{
  
float: left;
width: 50%;
background: url('./image_resources/photo-1.jpg') no-repeat;
min-height: 100%;

}
.text{
  overflow: hidden;
  padding: 40px;
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;background-color: #444;
  color: white;
}
.abox{
  color: white;
  background-color: #333;
  padding: 50px;
}
label{
  display: block;
  margin-bottom: 5px;
}
input{
  min-height: 35px;
  width: 100%;
  padding: 5px;

}
textarea{
  width: 100%;
}
.box-1{
  margin: auto;
  width: 90%;
}
.box-1 h1{
  margin-top: 25px;
  font-size:40px;
}
#submit{
  color:white;
  font-size: 20px;
  padding: 10px 15px;
  margin-bottom:30px ;
}
.abox{
background-color: rgb(122, 122, 122);
}
.boxi,.boxii,.boxiii{
  float: left;
  width: 33.3333%;
  text-align: center;
}
